
.diplomate{
    display: flex;
    border: thin solid black;
    margin: 1rem;
    padding:1rem;
}

.mocdiv{
    display: flex;
    flex-direction: column;
    border: thin solid black;
    padding: 1rem;
    margin: 1rem;
}
