.Profile {
    display: flex;
    flex-direction: column;
    border: thin solid black;
    align-items: cent;
    padding: 1rem;
    margin-top: 2rem;
    width: 20%;
    position: absolute;
     right: 0;
}